<div *ngIf="user.loggedIn()">
  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <form (ngSubmit)="sendMovie()">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="imdb-form">
        <input [(ngModel)]="model.imdb" ngControl="imdb" #imdb="ngForm" class="mdl-textfield__input" type="text" id="imdb" name="imdb" (ngModel)="movie">
        <label class="mdl-textfield__label" for="imdb">Cсылка на IMDB...</label>
      </div>
      <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
        Добавить
      </button>
      <span style="margin-left: 20px;">
        <a href="http://imdb.com">Internet Movie Database</a>
      </span>
    </form>
  </section>
  <section *ngFor="#movie of movies" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp animated fadeIn">
    <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color-text--white">
      <img src="{{movie.Poster}}" alt="{{movie.Title}}">
    </header>
    <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
      <div class="mdl-card__supporting-text">
        <img style="float:right" src="{{movie.author.picture}}" alt="{{movie.author.name}}" title="{{movie.author.name}}" class="avatar avatar--small">
        <h4><a href="http://imdb.com/title/{{movie.imdbID}}" target="_blank">{{movie.Title}}</a><br>
        <small>{{movie.Genre}}</small>
        </h4>
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--8-col mdl-cell--12-col-phone">
            {{movie.Plot}}
          </div>
          <div class="mdl-cell mdl-cell--4-col" style="padding-left: 8px;">
            <ul style="list-style: none; padding: 0; margin-top: 0;">
              <li><label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" [attr.for]="movie.imdbID + '-option-4'">
                <input type="radio" id="{{movie.imdbID}}-option-4" class="mdl-radio__button" name="{{movie.imdbID}}-options" value="4">
                <span class="mdl-radio__label">Очень хочу!</span>
              </label></li>
              <li><label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" [attr.for]="movie.imdbID + '-option-3'">
                <input type="radio" id="{{movie.imdbID}}-option-3" class="mdl-radio__button" name="{{movie.imdbID}}-options" value="3">
                <span class="mdl-radio__label">Интересно
                  <img src="https://lh4.googleusercontent.com/-3vtL50tgZ9s/AAAAAAAAAAI/AAAAAAAAZkY/-GAezN7LV8g/s46-c-k-no/photo.jpg" alt="" title="{{movie.author.name}}" class="avatar avatar--micro">
                </span>
              </label></li>
              <li><label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" [attr.for]="movie.imdbID + '-option-2'">
                <input type="radio" id="{{movie.imdbID}}-option-2" class="mdl-radio__button" name="{{movie.imdbID}}-options" value="2" checked>
                <span class="mdl-radio__label">Илья</span>
              </label></li>
              <li><label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" [attr.for]="movie.imdbID + '-option-1'">
                <input type="radio" id="{{movie.imdbID}}-option-1" class="mdl-radio__button" name="{{movie.imdbID}}-options" value="1">
                <span class="mdl-radio__label">Неееее....</span>
              </label></li>
              <li><label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" [attr.for]="movie.imdbID + '-option-0'">
                <input type="radio" id="{{movie.imdbID}}-option-0" class="mdl-radio__button" name="{{movie.imdbID}}-options" value="0">
                <span class="mdl-radio__label">Лабиринт</span>
              </label></li>
            </ul>
            <hr>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" [attr.for]="movie.imdbID + '-seen'">
              <input type="checkbox" id="{{movie.imdbID}}-seen" class="mdl-checkbox__input">
              <span class="mdl-checkbox__label">
                <!-- <i class="material-icons">visibility</i>  -->
                Смотрел<span *ngIf="user.gender == 'female'">a</span>
                <img src="https://lh4.googleusercontent.com/-3vtL50tgZ9s/AAAAAAAAAAI/AAAAAAAAZkY/-GAezN7LV8g/s46-c-k-no/photo.jpg" alt="" title="{{movie.author.name}}" class="avatar avatar--micro">
              </span>
            </label>
          </div>
        </div>
      </div>
      <div class="mdl-card__actions">
        <!-- <a href="#" class="mdl-button">Read our features</a> -->
        Рейтинг: {{movie.imdbRating}} ({{movie.Metascore}}) | Продолжительность: {{movie.Runtime}}
      </div>
    </div>
    <button (click)="delMovie(movie)" *ngIf="movie.authorID == user.profile.user_id" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn1">
              <i class="material-icons">clear</i>
      <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span>
    </button>
  </section>
</div>

<div *ngIf="!user.loggedIn()">
  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    Не-не-не, сначала&nbsp;<a (click)="user.login()" href="#">залогинься</a>.
  </section>
</div>
